{% extends 'base.html.twig' %}

{% block title %}Worker index{% endblock %}

{% block left_sidebar %}
	{% include 'area/common/left-sidebar.twig' with { active: 'ge-list'} %}
{% endblock %}

{% block body %}
     <table id="societeDatatable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Service</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for worker in workers %}
            <tr>
                <td>{{ worker.service }}</td>
                <td>{{ worker.username }}</td>
                <td>
                    <a href="{{ path('worker.show',{'id' : worker.id}) }}">Afficher</a>
                    {# <a href="{{ path('worker.show',{'id' : worker.id}) }}">Modifier</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('worker.add') }}">Ajouter un employé</a>
{% endblock %}
{% block js %}
	<script>
$("#societeDatatable").DataTable({

"searching": true,
"order": [
[0, "DESC"]
],
"responsive": true,
"autoWidth": false
});
	</script>
{% endblock %}
