{% extends 'base.html.twig' %}

{% block title %}Worker index{% endblock %}

{% block left_sidebar %}
	{% include 'area/common/left-sidebar.twig' with { active: 'ge-list'} %}
{% endblock %}

{% block body %}
     <table id="societeDatatable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Société</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for worker in workers %}
            <tr>
                <td>{{ worker.societe.name }}</td>
                <td>{{ worker.name }}</td>
                <td>
                    <a href="{{ path('worker_show', {'id': worker.id}) }}">show</a>
                    <a href="{{ path('worker_edit', {'id': worker.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('worker_new') }}">Create new</a>
{% endblock %}
{% block js %}
	<script>
$("#societeDatatable").DataTable({

"searching": true,
"order": [
[0, "DESC"]
],
"responsive": true,
"autoWidth": false
});
	</script>
{% endblock %}
