{% extends 'base.html.twig' %}

{% block title %}Worker
{% endblock %}

{% block left_sidebar %}
	{% include 'area/common/left-sidebar.twig' with { active: 'ge-list'} %}
{% endblock %}

{% block body %}
	<h4>Informations</h4>
	<table class="table">
		<tbody>
			{# <tr>
				<th>Civilité</th>
				<td>SelctBox</td>
			</tr> #}
			<tr>
				<th>Nom</th>
				<td>{{ worker.name }}</td>
			</tr>
			<tr>
				<th>Prénom</th>
				<td>{{ worker.lastname }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ worker.email }}</td>
			</tr>
			<tr>
				<th>Tél</th>
				<td>{{ worker.tel }}</td> 
			</tr>
		</tbody>
	</table>
	<hr> 
	<h4>Compteur de congés</h4>
	<table id="societeDatatable" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Type</th>
				<th>Acquis</th>
				<th>Restant</th>
				<th>En attente de validation</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>

				{% for item in compteur_conges %}
                  
						<tr>
						<td>{{ item.typeId.name }}</td>
						<td>{{ item.acquis }}</td>
						<td>{{ item.restant }}</td>
						<td>{{ item.attente }}</td>

						<td>
							<a href="{{ path('compteur_conge_delete', {'id': item.id}) }}">Supprimer</a>
							<a href="{{ path('compteur_conge_edit', {'id': item.id}) }}">Modifier</a>
						</td>
					</tr>
			
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}

		</tbody>
	</table>

	<a href="{{ path('compteur_conge_new',{'worker' : worker.id}) }}">Ajouter un compteur de congé</a>

	{# <a href="{{ path('worker_index') }}">back to list</a> #}

{# <a href="{{ path('worker_edit', {'id': worker.id}) }}">edit</a> #}

	{# {{ include('worker/_delete_form.html.twig') }} #}
{% endblock %}
{% block js %}
	<script>
		$("#societeDatatable").DataTable({

"searching": true,
"order": [
[0, "DESC"]
],
"responsive": true,
"autoWidth": false
});
	</script>
{% endblock %}
