{% form_theme form with ['bootstrap_4_layout.html.twig'] only %}

{{ form_start(form) }}
<div class="card card-purple">
	<div class="card-header">
		<h3 class="card-title">Demande de congé</h3>
	</div>
	<!-- /.card-header -->
	<!-- form start -->
	<div class="card-body">
		<div class="form-group row">
			<div class="col-sm-12">
				{{ form_widget(form) }}
			</div>
		</div>
	</div>
	<!-- /.card-body -->
	<div class="card-footer">
		<a class="float-left" href="{{ path('conge_index') }}">Retour à la liste</a>
		<button class="btn btn-default float-right">{{ button_label|default('Enregistrer') }}</button>
	</div>
	<!-- /.card-footer -->

</div>
{{ form_end(form) }}
