{% extends 'base.html.twig' %}

{% block title %}Conge index{% endblock %}

{% block left_sidebar %}
	{% include 'area/common/left-sidebar.twig' with { active: 'dc-tmdc'} %}
{% endblock %}

{% block body %}
<table id="societeDatatable" class="table table-bordered table-striped">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Date</th>
                <th>Demandeur</th>
                <th>Service</th>
                <th>Motif</th>
                <th>Le</th>
                <th>Jusqu'a</th>
                {# <th>Date_inclus</th> #}
                <th>Durée</th>
                {# <th>Qte_dispo</th> #}
                <th>Commence</th>
                {# <th>End</th> #}
                {# <th>Commentaires</th> #}
                <th>Status</th>
                {# <th>Date_verif</th> #}
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for conge in conges|sort|reverse %}
           
            {% for user in conge.users %}
                {% if user == app.user or is_granted('ROLE_ADMIN') %}
                <tr>
                {# <td>{{ conge.id }}</td> #}
                <td>{{ conge.dateDemande ? conge.dateDemande|date('Y-m-d') : '' }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.service.name }}</td>
                <td>{{ conge.motif }}</td>
                <td>{{ conge.dateDeb ? conge.dateDeb|date('Y-m-d') : '' }}</td>
                <td>{{ conge.dateFin ? conge.dateFin|date('Y-m-d') : '' }}</td>
                {# <td>{{ conge.dateInclus ? conge.dateInclus|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>{{ conge.duree }}</td>
                {% set day = {
                    '1' : 'Le matin',
                    '0' : 'L\'après midi'
                } %}
                {# <td>{{ conge.qteDispo }}</td> #}
                <td>{{ day[conge.start] }}</td>
                {# <td>{{ conge.end }}</td> #}
                {# <td>{{ conge.commentaires }}</td> #}
                <td>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{path('conge_status',{'id' : conge.id })}}">{{ conge.status ? 'Valider' : 'Refuser' }}</a>
                {% else %}
                {{ conge.status ? 'Valider' : 'En attente' }}
                {% endif %}
                </td>
                {# <td>{{ conge.dateVerif ? conge.dateVerif|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('conge_show', {'id': conge.id}) }}">Afficher</a>
                    {# <a href="{{ path('conge_edit', {'id': conge.id}) }}">edit</a> #}
                </td>
            </tr>
                {% endif %}
            {% endfor %}
  
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('conge_new') }}">Create new</a> #}
{% endblock %}
{% block js %}
	<script>
$("#societeDatatable").DataTable({

"searching": true,
"order": [
[0, "DESC"]
],
"responsive": true,
"autoWidth": false
});
	</script>
{% endblock %}