{% extends 'base.html.twig' %}

{% block title %}Conge{% endblock %}

{% block left_sidebar %}
	{% include 'area/common/left-sidebar.twig' with { active: 'dc-tmdc'} %}
{% endblock %}

{% block body %}
    <h1>Demandé le {{ conge.dateDemande ? conge.dateDemande|date('Y-m-d') : '' }} par {{ conge.users|map(c => c.username)|join(' ') }}</h1>

    <table class="table">
        <tbody>
    
           
            <tr>
                <th>Motif</th>
                <td>{{ conge.motif }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ conge.dateDeb ? conge.dateDeb|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ conge.dateFin ? conge.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            {# <tr>
                <th>Date (inclus)</th>
                <td>{{ conge.dateInclus ? conge.dateInclus|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
            <tr>
                <th>Durée</th>
                <td>{{ conge.duree }}</td>
            </tr>
            <tr>
                <th>Qté disponible</th>
                <td>{{ conge.qteDispo }}</td>
            </tr>
            <tr>
                <th>Commence le</th>
                <td>{{ conge.start }}</td>
            </tr>
            <tr>
                <th>Se termine le</th>
                <td>{{ conge.end }}</td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>{{ conge.commentaires ?  conge.commentaires : 'Aucun commentaire' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ conge.status ? 'Valider' : 'Refuser' }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('conge_index') }}">Retour à la liste</a>

    {# <a href="{{ path('conge_edit', {'id': conge.id}) }}">edit</a> #}

    {{ include('conge/_delete_form.html.twig') }}
{% endblock %}
