{% extends 'base.html.twig' %}

{% block title %}Societe index{% endblock %}

{% block left_sidebar %}
	{% include 'area/common/left-sidebar.twig' with { active: 'societe-list'} %}
{% endblock %}

{% block body %}
    <table id="societeDatatable" class="table table-bordered table-striped">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for societe in societes %}
            <tr>
                {# <td>{{ societe.id }}</td> #}
                <td>{{ societe.name }}</td>
                <td>
                    {# <a href="{{ path('societe_show', {'id': societe.id}) }}">show</a> #}
                    <a href="{{ path('societe_edit', {'id': societe.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('societe_new') }}">Ajouter une société</a> #}
{% endblock %}
{% block js %}
	<script>
$("#societeDatatable").DataTable({

"searching": true,
"order": [
[0, "DESC"]
],
"responsive": true,
"autoWidth": false
});
	</script>
{% endblock %}