{% extends 'base.html.twig' %}

{% block title %}Type index{% endblock %}

{% block left_sidebar %}
	{% include 'area/common/left-sidebar.twig' with { active: 'type-list'} %}
{% endblock %}

{% block body %}

    <table id="societeDatatable" class="table table-bordered table-striped">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                {# <td>{{ type.id }}</td> #}
                <td>{{ type.name }}</td>
                <td>
                    {# <a href="{{ path('type_show', {'id': type.id}) }}">show</a> #}
                    <a href="{{ path('type_edit', {'id': type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_new') }}">Create new</a>
{% endblock %}
{% block js %}
	<script>
$("#societeDatatable").DataTable({

"searching": true,
"order": [
[0, "DESC"]
],
"responsive": true,
"autoWidth": false
});
	</script>
{% endblock %}