<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" type="image/*" href="{{asset('public/images/data/logo_cnaps.png')}}">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	</head>
	<body>
		<div class="clearfix">
			<p class="float-left">Liste des employées
			</p>
			<p class="float-right">
				{{ 'now'|date('Y/m/d') }}
			</p>
		</div>
		<br>


     <table  class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Service</th>
                <th>Nom</th>
                <th>Matricule</th>
            </tr>
        </thead>
        <tbody>
        {% for worker in data %}
            <tr>
                <td>{{ worker.service }}</td>
                <td>{{ worker.username }}</td>
                <td>{{ worker.matricule }}</td>

                
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



	</body>
</html>
