{% extends 'base.html.twig' %}

{% block title %}New CompteurConge
{% endblock %}

{% block left_sidebar %}
	{% include 'area/common/left-sidebar.twig' with { active: 'ge-list'} %}
{% endblock %}

{% block body %}
<div class="card card-primary">
	<div class="card-header">
		<h3 class="card-title">Gestions de congés</h3>
	</div>
	<!-- /.card-header -->
	<!-- form start -->
	<div class="card-body">
	{{ form_start(form) }}
	{{ form_widget(form) }}
    <hr>

	<table id="societeDatatable" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Valeur</th>
				<th>Date</th>
				<th>Utilisateur</th>
				<th>De</th>
				<th>Date à (inclus)</th>
				<th>Commentaires</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for gestion_conge in gestion_conges %}
				{% if gestion_conge.workerId == worker %}
				<tr>
					<td>
                        <input type="checkbox" name="status[{{gestion_conge.id}}]" id="present_{{gestion_conge.id}}" value="{{gestion_conge.id}}">
                        <label for="present_{{gestion_conge.id}}"></label>
                    </td>
					<td>{{ gestion_conge.valeur }}</td>
					<td>{{ gestion_conge.date ? gestion_conge.date|date('Y-m-d') : '' }}</td>
					<td>{{ gestion_conge.workerId.name  }}</td>
					<td>{{ gestion_conge.de ? gestion_conge.de|date('Y-m-d') : '' }}</td>
					<td>{{ gestion_conge.dateInclus ? gestion_conge.dateInclus|date('Y-m-d') : '' }}</td>
					<td>{{ gestion_conge.commentaires }}</td>
					<td>
						<a href="{{ path('gestion_conge_delete', {'id': gestion_conge.id}) }}">delete</a>
						<a href="{{ path('gestion_conge_edit', {'id': gestion_conge.id}) }}">edit</a>
					</td>
				</tr>
				
				{% endif %}
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

		<button class="btn btn-primary float-right">{{ button_label|default('Enregistrer') }}</button>

		<a href="{{ path('gestion_conge_new',{'worker' : worker.id}) }}">Nouveu gestion de congé</a>
	{{ form_end(form) }}


	{# <a href="{{ path('compteur_conge_index') }}">back to list</a> #}
</div>
</div>


{% endblock %}
{% block js %}
	<script>
		$("#societeDatatable").DataTable({

"searching": true,
"order": [
[0, "DESC"]
],
"responsive": true,
"autoWidth": false
});
	</script>
{% endblock %}
